.document-preview-cont {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    z-index: 22;
}

/* Brgy Clearance */
/* .brgy-clearance-front {
    width: 400px;
}
.brgy-clearance-name {
    position: absolute;
    margin-top: -43.5%;
    margin-left: 23.5%;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}
.brgy-clearance-address {
    position: absolute;
    margin-top: -41.5%;
    margin-left: 18.5%;
    height: 20px;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.brgy-clearance-for-work, .brgy-clearance-for-school, .brgy-clearance-for-others {
    position: absolute;
    margin-top: -33%;
    margin-left: 10%;
    height: 20px;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
.brgy-clearance-for-school {
    margin-top: -30.5%;
    margin-left: 10%;
}
.brgy-clearance-for-others {
    margin-top: -28%;
    margin-left: 10%;
}
.brgy-clearance-for-others-specify {
    position: absolute;
    margin-top: -25.5%;
    margin-left: 26%;
    height: 20px;
    width: 150px;
    font-size: 8px;
    font-weight: bold;
    overflow: hidden;
} */




/* .brgy-clearance-for-work2, .brgy-clearance-for-school2, .brgy-clearance-for-others2 {
    position: absolute;
    margin-top: -39%;
    margin-left: 11%;
    height: 20px;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
.brgy-clearance-for-school2 {
    margin-top: -36.5%;
    margin-left: 11%;
}
.brgy-clearance-for-others2 {
    margin-top: -34%;
    margin-left: 11%;
}
.brgy-clearance-for-others-specify2 {
    position: absolute;
    margin-top: -31.5%;
    margin-left: 27%;
    height: 20px;
    width: 150px;
    font-size: 8px;
    font-weight: bold;
    overflow: hidden;
}




/* Contstruction and renovation */
.brgy-con-ren-name {
    position: absolute;
    margin-top: -41%;
    margin-left: 23%;
    font-size: 10px;
    text-align: center;
    font-weight: bold; 
}
.brgy-for-build, .brgy-for-renovation {
    position: absolute;
    margin-top: -32.7%;
    margin-left: 7.7%;
    height: 20px;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
.brgy-for-renovation {
    margin-top: -31%;
    margin-left: 7.7%;
}
.brgy-clearance-name-2 {
    position: absolute;
    margin-top: -43%;
    margin-left: 23%;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}
.brgy-clearance-address-2 {
    position: absolute;
    margin-top: -41.5%;
    margin-left: 18%;
    height: 20px;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
} 




/*
|----------------------------------------
| Brgy ID 
|----------------------------------------
*/
.brgy-id, .brgy-id-back {
    width: calc(86mm * 1.5);
    height:  calc(54mm * 1.5);
    background-image: linear-gradient(to right, #99d1dc , #4c8cc7);
    border-radius: 0;
    padding: 10px calc(86mm * .2);
}
.brgy-id-back {
    padding: 20px;
}
.makati-brgy-id {
    color: #eec621;
}
.brgy-id-logo {
    width: 70px;
    height: 70px;
}
.brgy-id-head-txt-2 {
    font-size: 8px;
    font-weight: bold;
}
.brgy-id-pic-box, .brgy-id-thumb-box {
    width: 90px;
    height: 90px;
    background-color: var(--white);
    border: 1px solid black;
    overflow: hidden;
}
.brgy-id-thumb-box {
    border: none;
}
.brgy-id-pfp {
    width: 90px;
    height: 90px;
}
.brgy-id-input-box {
    width: 100%;
    border-bottom: 1.5px solid black;
    height: 25px;
}
.brgy-outline-yellow {
    filter: drop-shadow(0 0 1px #eec621);
}




/*
|----------------------------------------
| Brgy Clearance
|----------------------------------------
*/
.brgy-clearance {
    width: 8.5in;
    height: 11in;
    background: var(--white);
    filter: drop-shadow(0 0 1px var(--grey1));
    padding: 30px 50px;
}
.brgy-clearance-logo {
    width: 130px;
    height: 130px;
}
.brgy-clearance-check-bx {
    width: 25px;
    height: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}