/* SlideShow */
.banner-cont {
    position: relative;
    height:75vh;
    background-color: black;
}
.banners {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
      0% { opacity: 0; }
      20% { opacity: .5; } /* Fade in for the first 20% of the animation duration */
      80% { opacity: .5; } /* Hold full opacity for 60% of the animation duration */
      100% { opacity: 0; } /* Fade out for the last 20% of the animation duration */
}


/* News */
.news-cont {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-sizing: border-box;
}
.news-cont1, .services-cont1 {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.news-box {
    width: calc((100% / 3 - 15px));
    height: 400px;
    filter: drop-shadow(0 0 1px var(--grey1));
    border-radius: 10px;
    background: var(--white);
    padding: 15px;
}
.news-box-pfp {
    width: 100%;
    height: 70%;
    background: var(--grey1);
    border-radius: 5px;
}
.news-box-txt {
    width: 100%;
    height: 30%;
    word-break: break-all;
    padding: 10px 0;
}


/* Services */
.services-cont {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-sizing: border-box;
}
.service-box {
    width: calc((100% / 4 - 15px));
    height: 200px;
    filter: drop-shadow(0 0 1px var(--grey1));
    border-radius: 10px;
    background: var(--white);
    padding: 15px;
}
.service-pfp {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.service-txt {
    padding: 10px 0;
    height: 90%;
    text-align: center;
}